################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShowApplication/obj/Debug
/ShowApplication/bin/Debug
/.vs/ShowApplication/v15
